:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.6rem;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.2);
}

.primary-heading {
  margin-left: 3rem;
}

.logo-link {
  text-decoration: none;
  color: #7378c5;
  letter-spacing: 0.5px;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.6rem;
  margin-right: 3rem;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

.main {
  margin: 8rem 0rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movie {
  width: 30rem;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.movie img {
  width: 100%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.movie-info {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-weight: 700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 200%;
  transform: translateY(101%);
  -webkit-transform: translateY(101%);
  -moz-transform: translateY(101%);
  -ms-transform: translateY(101%);
  -o-transform: translateY(101%);
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

.movie:hover .overview {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}

.movie:hover img {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.overview h3 {
  margin-bottom: 1.2rem;
}
